.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  padding: 0 0;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: "Helvetica Neue", Arial, sans-serif;
  position: relative;
  z-index: 0;
}

.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  display: flex;
  flex-direction: column;
  padding-left: 64px;
  justify-content: center;
  position: relative;
  background-color: #f2f2f2;
}
.logo {
  width: 228px;
  height: 32px;
}
.logo_place_header {
  position: absolute;
  top: 30px;
  left: 64px;
}
.header__title {
  width: 730px;
  font-size: 102px;
  font-weight: 600;
  line-height: 96px;
  margin: 0;
  padding: 0;
  z-index: 3;
  text-align: left;
}
.header__link {
  color: #2f80ed;
  text-decoration: none;
}
.header__subtitle {
  width: 388px;
  font-size: 18px;
  font-weight: normal;
  line-height: 25px;
  position: absolute;
  left: 64px;
  bottom: 30px;
  margin: 0;
  padding: 0;
  z-index: 3;
}
.header__main-illustration {
  width: 765px;
  height: 608px;
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 2;
  object-fit: cover;
}
.header__square-pic {
  height: 568px;
  width: 568px;
  background-color: #2f80ed;
  position: absolute;
  right: 0;
  top: 64px;
  z-index: 1;
}

.description {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 100px 0 0;
  background-color: white;
}

.two-columns {
  display: flex;
  width: 80%;
  justify-content: space-between;
}
.two-columns__brief {
  color: #2f80ed;
  width: 175px;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  margin-top: 0;
  margin-bottom: 0;
}
.two-columns__main-text {
  width: 80%;
  min-width: 784px;
}
.two-columns__paragraph {
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  margin-top: 0;
  margin-bottom: 30px;
}
.two-columns__paragraph:last-child {
  margin-bottom: 0;
}
.two-columns__span-accent {
  line-height: 34px;
  font-size: 24px;
  font-weight: 600;
}

.digits {
  margin: 0 auto;
  padding: 100px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
}
.section-title {
  width: 60%;
  text-align: center;
  line-height: 1.15;
  font-size: 60px;
  font-weight: 600;
  margin: 0;
  padding: 0;
}
.section-subtitle {
  width: 60%;
  text-align: center;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  margin: 0;
  padding: 0;
  margin-top: 20px;
}
.table {
  width: 1100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 auto;
}
.table__cell {
  width: 250px;
  margin-top: 60px;
}
.table__heading {
  margin: 0;
  padding: 0;
  line-height: 1.15;
  font-size: 24px;
  font-weight: 600;
}
.table__text {
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  margin-top: 20px;
  margin-bottom: 0;
}

.feynman {
  margin: 0 auto;
  padding: 0;
  min-height: 890px;
  position: relative;
  background-color: #f2f2f2;
  background-image: url(../images/feynman.png);
  background-repeat: no-repeat;
  background-position: left bottom;
  background-size: 867px 637px;
}
.feynman__title {
  margin: 0 auto;
  padding: 0;
  padding-top: 100px;
  line-height: 1.15;
  font-size: 120px;
  font-weight: 600;
  width: 648px;
  text-align: center;
}
.feynman__subtitle {
  margin: 0;
  padding: 0;
  margin-top: 70px;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  text-align: center;
}
.feynman__link {
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  color: #2f80ed;
  position: absolute;
  top: 50%;
  right: 48px;
  text-decoration: none;
}

.kaufman {
  display: flex;
  flex-direction: column;
  align-items: center;
  
  overflow: hidden;
  background-color: #1f1f1f;
  color: white;
  position: relative;
  z-index: 1;
  padding: 90px 0 90px;
}

/* .section_title_theme_dark {
  margin: 0 auto;
  padding: 0;
  line-height: 1.15;
  font-size: 60px;
  font-weight: 600;
  text-align: center;
} */
/* .section_subtitle_theme_dark {
  margin: 0 auto;
  padding: 0;
  margin-top: 20px;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  text-align: center;
} */

.table__cell_theme_dark {
  width: 200px;
  margin: 80px 0 0;
}

/* .table__heading_theme_dark {
  line-height: 1.15;
  font-size: 24px;
  font-weight: 600;
} */
/* .table__text_theme_dark {
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
} */
/* .table_theme_dark {
  margin-bottom: 90px;
} */

.kaufman__triangle {
  position: absolute;
  right: -210px;
  top: 0;
  z-index: -1;
  width: 877px;
  height: 877px;
  background-image: url(../images/kaufman-triangle.svg);
  background-repeat: no-repeat;
  background-size: 877px 877px;
}

.footer {
  margin: 0;
  padding: 0;
  background-color: #1f1f1f;
  color: white;
  min-height: 350px;
  display: flex;
}
.footer__columns {
  /* align-self: stretch; */
  display: flex;
  width: 90%;
  min-height: 100%;
  margin: 60px auto 40px;
  justify-content: space-between;
}
.footer__column_content_copyright {
  flex-basis: 711px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.footer__author {
  margin: 18px 0;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
}
.footer__column-heading {
  line-height: 30px;
  font-size: 18px;
  font-weight: 600;
  margin: 0;
}
.footer__column-links {
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
  margin-top: 20px;
  margin-bottom: 16px;
}
.footer__social-icon {
  width: 16px;
  height: 16px;
  margin-right: 10px;
}
.footer__column-link {
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
  text-decoration: none;
  display: block;
  color: white;
}
